<a href="https://colab.research.google.com/github/antoharish10/datascience/blob/main/List3_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print all items in the list, one by one**

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

**Print all items by referring to their index number**

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

**Print all items, using a while loop to go through all the index numbers**

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

**A short hand for loop that will print all items in a list**

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

**Sort the list alphabetically**

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

**Sort the list numerically**

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

**Sort the list descending**

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

**Sort the list descending**

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

**Sort the list based on how close the number is to 50**

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

**Case sensitive sorting can give an unexpected result**

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

**Perform a case-insensitive sort of the list**

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

**Reverse the order of the list items**

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

**Make a copy of a list with the copy() method**

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

**Make a copy of a list with the list() method**

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

**Join two list**

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list2 + list1
print(list3)

**Append list2 into list1**

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

**Use the extend() method to add list2 at the end of list1**

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list2.extend(list1)
print(list2)